/* Universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Reset specific elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote,
figure,
hr {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none; /* Remove bullet points/numbers from lists */
}

a {
  text-decoration: none; /* Remove underlines from links */
  color: inherit; /* Inherit color from parent */
}

img,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block; /* Remove extra space below images */
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.calculator {
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    border: 1px solid black;
}

.brand {
    /* TODO */
}

.display-container {
    display: flex;
}

.display {
    /* TODO */
}

.main-buttons {
    display: flex;
}

.number-container {
    display: flex;
    flex-direction: column;
}

.number-row {
    display: flex;
}

.action-container {
    display: flex;
    flex-direction: column;
}

